.auth-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 65px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  z-index: 1;
  border: 3px solid transparent;
  transition: border 0.3s;
}

.auth-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-input {
  padding: 10px;
  margin: 15px;
  background: rgb(94, 94, 94);
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

.auth-button {
  padding: 10px;
  margin: 20px;
  background-color: gray;
  border-radius: 10px;
  font-size: 18px;
  color: rgb(37, 215, 102);
  
} 

.auth-button:hover {
  background-color: rgb(37, 215, 102);
  color: white;
}

.auth-header {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.auth-switch {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.auth-link-preface {
  margin-right: 5px;
  color: white;
}

.auth-link {
  color: rgb(111, 111, 255);
  border-bottom: 1px solid rgb(111, 111, 255);
}


.auth-link:hover {
  cursor: pointer;
}

.errors-ul {
  color: red;
  height: 10px;
}

#auth-div.error{
  border: 3px solid rgb(158, 3, 3);
}