.overall-container{
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  color: white;
  background-image: linear-gradient(rgb(83, 83, 83), rgb(20, 20, 20), rgb(20, 20, 20));
  top: 0px;
  left: 0px;
  overflow-y: auto;
}

.overall-container::-webkit-scrollbar {
    display: none;
}

.top-nav{
  display: block;
  position: fixed;
  width: 100%;
  /* padding: 16px 24px; */
  padding-left: 230px;
  box-sizing: border-box;
}

.main-nav{
  width: 230px;
  background-color: black;
  padding-top: 24px;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
}

.main-nav h2{
  font-size: 30px;
  padding-left: 25px;
  font-family: 'Raleway', sans-serif;
}

.main-nav .main-links{
  display: block;
  position: relative;
  left: 0px;
  padding-left: 0px;
  margin-top: 18px;
}

.main-nav .main-links li{
  border-left: 5px solid transparent;
  margin: 5px 0px;
  margin-left: 1px;
  height: 35px;
  padding-top: 5px;
  list-style: none;
  position: relative;
  cursor: pointer;
  color: rgb(155, 155, 155);
  transition: color 0.3s;
}

.main-nav .main-links li:hover{
  color: whitesmoke;
}

.main-nav .main-links li i,
.main-nav .main-links li p {
  margin: 0px;
  position: relative;
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.main-nav .main-links li i{
  font-size: 18px;
}

.main-nav .main-links li p{
  font-size: 14px;
  font-family: 'Overpass', sans-serif;
}

.main-nav h3 {
  font-size: 11px;
  margin-top: 30px;
  position: relative;
  margin-left: 18px;
  margin-bottom: 10px;
  color: rgb(155, 155, 155);
  letter-spacing: 2px;
}

.new-playlist {
  display: block;
  position: relative;
  margin-left: 20px;
  color: rgb(155, 155, 155);
  transition: color 0.3s;
  font-size: 14px;
  cursor: pointer;
}

.new-playlist:hover{
  color: whitesmoke
}

.new-playlist i,
.new-playlist p {
  display: inline-block;
  vertical-align: middle;
}

.new-playlist i{
  font-size: 30px;
}

.new-playlist p{
  margin-left: 10px;
}

.playlist-index-container{
  box-sizing: border-box;
  color: rgb(155, 155, 155);
  font-size: 15px;
}

.playlist-index-container li{
  padding: 10px 0px;
  border-left: 5px solid transparent;
  padding-left: 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-left-color 0.4s;
}

li.active,
#home.active,
#search.active,
#library.active {
  border-left-color: #1db954;
  color: whitesmoke;
}

#current-song-element{
  color: #1db954;
}

li.current-song-element{
  color: #1db954;
}

.playlist-index-container li:hover{
  color: whitesmoke;
}

.main-container {
  padding-left: 230px;
  margin-top: 50px;
  box-sizing: border-box;
}

#testInput input{
  background-color: white;
  color:black;
}

.home-container {
  /* height: 95vh; */
  overflow: auto;
  z-index: -1;
}

#modal-outter-container{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  top: 0px;
}

#modal-innder-container{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-main {
  background-image: linear-gradient(rgb(83, 83, 83), rgb(20, 20, 20), rgb(20, 20, 20));
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}