.music-player-container {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(44, 44, 44);
  justify-content: center;
  padding: 10px;
}

.music-player {
  
}