.music-player-container {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(44, 44, 44);
  height: 80px;
  padding: 10px 10px 0px 10px;
  box-sizing: border-box;
}

.music-player-container .controlls{
  display: block;
  width: 100%;
  height: 100%;
}
/* .controlls .mid-controlls{
  background-color: rgba(0, 0, 255, 0.219);
}

.controlls .right-controlls{
  background-color: red;
} */

.controlls .left-controlls,
.controlls .mid-controlls,
.controlls .right-controlls{
  display: inline-block;
  width: 33.2%;
  vertical-align: top;
  box-sizing: border-box;
  max-width: 33.2%;
  position: relative;
}

.controlls .left-controlls{
  padding-top: 5px;
}

.controlls .left-controlls .player-album-cover{
  height: 50px;
  width: 50px;
  background-color: gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.controlls .left-controlls .player-song-details{
  display: inline-block;
  vertical-align: middle;
  max-width: 150px;
  overflow: hidden;
}

.player-song-details p:last-child{
  font-size: 14px;
  color: gray;
}

.mid-controlls .main-controlls {
  width: 100%;
  text-align: center;
  display: block;
  min-height: 41px;
}

.mid-controlls .main-controlls i {
  margin: 1px 8px;
  padding: 3px;
  font-size: 18px;
  vertical-align: middle;
  color: gray;
  transition: color 0.2s;
}

.mid-controlls .main-controlls i:hover{
  color: whitesmoke
}

.mid-controlls .main-controlls i:nth-child(2){
  font-size: 33px;
  transition: 0.1s;
  min-height: 33px;
  padding: 0px;
}

#play-pause{
  min-width: 33px;
  min-height: 33px;
}

#play-pause.button-down{
  font-size: 31px;
}

.mid-controlls .progress-bar{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  bottom: -3px; /* subject to change */
}

.progress-bar p {
  font-size: 11px;
  color: gray;
}

.progress-bar .progress-bar-shell{
  height: 5px;
  width: 80%;
  border-radius: 50px;
  /* border: 0px solid transparent; */
  margin: 0px 3px;
  margin-top: 5px;
  background-color: rgb(74, 73, 73);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.progress-bar .progress-bar-shell .progress-bar-filler{
  background-color: rgb(179, 179, 179);
  height: 100%;
  border-radius: inherit;
  transition: transform 0.1s ease-in;
  width: 100%;
  transform: translateX(-100%);
  display: inline-block;
}

.progress-bar .progress-bar-shell:hover .progress-bar-filler{
  background-color: #1db954;
}

.progress-bar .progress-bar-shell .progress-seeker{
  display: inline-block;
  outline: none;
  position: absolute;
  padding: 5px;
  background-color: white;
  border-radius: 500px;
  top: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  opacity: 0;
  /* transform: translateX(100%); */
  /* left: 30px; */
}

.progress-bar .progress-bar-shell:hover .progress-seeker{
  opacity: 1;
}