.nav-auth {
  text-align: right;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  background-color: transparent;
  padding: 20px 24px;
  position: relative;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.blurred{
  position: absolute;
  width: 140%;
  height: 120%;
  /* background-color: rgba(74, 74, 74, 0.954); */
  background: linear-gradient(180deg, rgba(74,74,74,1) 80%, rgba(74,74,74,0.954) 100%);
  top: -20px;
  right: 0px;
  z-index: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  margin-right: -10px;
}

.nav-auth li {
  /* margin: 15px 5px; */
  box-sizing: border-box;
}

.nav-auth li:hover a{
  color: #1db954;
}

.nav-auth li a {
  padding: 10px;
  transition: color 0.3s;
}

.nav-button {
  border-radius: 5px;
  z-index: 1;
}

.nav-link {
  margin: 10px;
  color: white;
}

.not-logged-in{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 25px;
}