.popular-song-options-container {
  position: absolute;
  background-color: rgb(66, 66, 66);
  margin-top: 40px;
  padding: 20px;
  right: 10px;
  z-index: 10;
}

.popular-song-options{
  margin: 10px;
}

.artist-album-song-options-container {
  position: absolute;
  background-color:rgb(66, 66, 66);
  margin-top:40px;
  padding: 20px;
  right: 10px;
  z-index:10;
}

.options-playlists-list {
  position: absolute;
  background-color: rgb(66, 66, 66);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}

.options-playlists-name {
  margin: 5px;
}

.search-song-options-container {
  position: absolute;
  background-color: rgb(66, 66, 66);
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}