.splash-container {
  display: flex;
  justify-content: center;
}

.splash-page-container {
  background-image: linear-gradient(rgb(0, 46, 173), rgb(144, 1, 163), rgb(255, 244, 92));
  height: 100vh;
  z-index: -2;
  overflow: hidden;
}

.splash-graphic {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
}

.splash-graphic-header {
  font-weight: 500;
  font-size: 22px;
  padding: 10px;
}

.splash-graphic-p {
  font-size: 18px;
}

.splash-graphic a {
  margin: 10px;
  text-decoration: underline;
  font-size: 15px;
}

#learn-more-container{
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 600px;
  background-color: #282828;
  color: rgb(221, 221, 221);
  padding: 30px 50px;
  top: 20%;
  border-radius: 10px;
  font-size: 15px;
}

#learn-more-container h3{
  font-size: 30px;
  margin: 10px 0px;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid gray;
}


#learn-more-container p {
  padding: 10px;
  letter-spacing: 0.5px;
  font-family: 'Varela', sans-serif;
}

#learn-more-container p a {
  margin-left: 4px;
  text-decoration: underline;
  cursor: pointer;
}

#splash-circle {
  border-radius: 1000px;
  position: absolute;
  z-index: 0;
}

.splash-circle-1 {
  width: 300px;
  height: 300px;
  background-image: linear-gradient( rgb(144, 1, 163), rgb(0, 46, 173));
  left: 2%;
}

.splash-circle-2 {
  width: 180px;
  height: 180px;
  background-image: linear-gradient(rgb(255, 244, 92), rgb(144, 1, 163));
  top: 60%;
  right: 20%;
}

.splash-circle-3 {
  width: 240px;
  height: 240px;
  background-image: linear-gradient(rgb(144, 1, 163), rgb(0, 46, 173), rgb(144, 1, 163));
  top: 5%;
  right: 15%;
}